@media only screen and (orientation: landscape) {

  /* Defining each sectino background and styles
  * --------------------------------------- */
  #new-landing{
    background-image: url(/assets/img/big/Wedding4.jpg);
    padding: 0 0 0 0;
  }



}

@media only screen and (orientation: portrait) {

      /* Defining each section background and styles on portrait orientation
      * --------------------------------------- */
      #new-landing{
        background-image: url(/assets/img/tablet/Wedding4.jpg);
        padding: 0 0 0 0;
      }

}

.inner_box
{
  width: 100%;
  height: 100%;
  opacity: 1;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

label {
    display: block;
    padding: 10px 5px 5px 2px;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    color: #000
}
